<!DOCTYPE html>
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <i class="navbar-brand glyphicon glyphicon-cloud header-icon" style="color: white;"></i>
          <a class="navbar-brand header-text" style="color: white;" href="/">Demo App</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/register" style="color: white;">Register</a></li>
      </ul>
  </div>
</nav>