<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='css/bootstrap.min.css'/>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <header>
        <% include ../partials/header.ejs %>
    </header>

    <body>
         <div class="row">
            <div class="well col-xs-1" style="margin-left: 15px;">
                <div class="raindrop-instruction">
                    Enter into the Hydro App:
                </div>
                <div class="raindrop-message">
                    <%= hydroMessage %>
                </div>
            </div>
        </div>
        <form action="/hydro" method="post" id="hydroForm">
            <button type="submit" form="hydroForm" class="btn btn-primary">Verify</button>
        </form>
    </body>
</html>