<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='css/bootstrap.min.css'/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>

    <header>
        <% include ../partials/header.ejs %>
    </header>

    <body>
        <div class="row">
            <div class="form-group col-xs-2">
                <label>Select Environment:</label>
                <select name="environment" class="form-control" data-style="btn-info" form="loginForm">
                    <% environments.forEach(env => { %>
                        <option <% if(API.environment == env) { %> selected <% } %> value="<%= env %>"><%= env %></option>
                    <% }) %>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <form action="/login" method="post" id="loginForm">
                    <div class="row">
                        <div class="col-xs-4 input-field">
                            <label>Username:</label>
                            <input class="form-control" type="text" name="username" autocomplete="off">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 input-field">
                            <label>Password:</label>
                            <input class="form-control" type="password" name="password">
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" form="loginForm">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
