<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='css/bootstrap.min.css'/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>

    <header>
        <% include ../partials/header.ejs %>
    </header>

    <div class="well col-xs-1">
        <div class="raindrop-message">
            Success!
        </div>
    </div>
</html>